.view {
    background: url("/static/images/rosebowl.jpg")no-repeat center center;
    background-size: cover;
}

html,
body,
header,
.view {
  height: 100%;
}

.white {
    color: white;
}

.headline-margin {
    padding-top: 80px;
}

.container-margin {
    padding-top: 80px;
}