.view {
    background: url("/static/images/rosebowl.jpg")no-repeat center center;
    background-size: cover;
}

html,
body,
.view {
  height: 100%;
}

.tall-header {
    height: 100%;
}

.white {
    color: white;
}

.headline-margin {
    padding-top: 80px;
}

.container-margin {
    padding-top: 80px;
}

.bolder-text {
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

.icon-link {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}