<!doctype html>
<html lang="en" class="full-height">

  <head>
    {% include 'bootstrap/head_tag_requires.html' %}

    <link rel="stylesheet" 
          href="{{ url_for('static', filename='css/styles.css') }}" >

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
    {% block header %}
        {% include 'navbar.html' %}
    {% endblock %}
    </header>

    {% block main %}
    {% endblock %}

    {% include 'bootstrap/script_requires.html' %}
  </body>

</html>