{% extends "base.html" %}

{% block title %}Carl Hinderer's Homepage{% endblock %}

{% block header %}
    <header class="tall-header">
        {% include 'navbar.html' %}
        {% include 'bgview.html' %}
    </header>
{% endblock %}

{% block main %}
    <main class="text-center py-5">
    
      <div class="container container-margin">
        <div class="row">
          <div class="col-md-12">

            <p align="justify" class="bolder-text">Hey!  I'm Carl Hinderer, a software engineer 
              based in Fort Collins, CO.  I have a background in building web applications and other 
              traditional types of software.  I'll be writing here about my experiences learning modern 
              databases, data science, data engineering, and distributed systems.</p>
    
          </div>
        </div>
      </div>
    
    </main>
{% endblock %}