<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar Brand -->  
    <a class="navbar-brand" href="/">Carl Hinderer's Homepage</a>

    <!-- Navbar Toggler -->
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarText" 
            aria-controls="navbarText" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        <span class="navbar-text">
            <a href="http://www.github.com/carlhinderer">
                <img src="/static/images/Octocat.png" alt="GitHub" class="icon-link" />
            </a>
            <a href="http://www.linkedin.com/in/carlhinderer">
                <img src="/static/images/linkedin.png" alt="LinkedIn" class="icon-link" />
            </a>
            <a href="http://www.twitter.com/carlhinderer">
                <img src="/static/images/twitter.png" alt="Twitter" class="icon-link" />
            </a>
        </span>
    </div>
</nav>